*{
	margin: 0;
	padding:0;
	box-sizing: content-box;

}



#image{
	height: 400px;
	width:  900px;
}

.content{
	padding-left: 30px;
	padding-right: 30px;
}

/*.card-body{
	background-color: #4f5359;
	color: white;
}*/
body{
background-image: url(../images/image2.jpg);
background-repeat: no-repeat;
background-size: cover;
}

#media{
	background-color: rgba(255, 255, 255, .6);
	margin-left: 10px;
	padding-left: 10px;
	height: 400px;
	border-radius: 7px;
}